
@media (min-width: 451px) and (max-width: 800px) {
    .tag_portfolio{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 163px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(123, 74, 226, 0.10);
    }
    .tag_portfolio_text{
        color: #7B4AE2;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    }
    .title{
        margin-top: 24px;
        width: 663px;
height: 60px;
flex-shrink: 0;
color: #FFF;
font-family: Raleway;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .sorted_tegs{
        display: flex;
        height: 60px;
        width: 90vw;
        justify-content: flex-end;
        gap: 40px;
        margin-bottom: 40px;
    }
    .studentCase{
        align-items: center;    
        width: 205px;
        height: 60px;
        flex-shrink: 0;
        justify-content: center;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        display: flex;
    }
    .studentCase_text{
        margin-left: 10px;
        display: flex;
        width: 137px;
        height: 37px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .fork{
        align-items: center; 
        justify-items: center;   
        display: flex;
        width: 184px;
        height: 60px;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
    }
    .fork_text{
        display: flex;
        margin-left: 10px;
        width: 92px;
        height: 37px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .case{
        width: 300px;        
        height: 400px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
    }
    .case_subTitle{
        margin-left: 30px;
        margin-top: 9px;
        width: 250.777px;
        height: 100px;
        transform: rotate(-0.033deg);
        flex-shrink: 0;
        color: rgba(255, 255, 255, 0.50);
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .case_title{
        margin-top: 27px;
        margin-left: 30px;
        display: flex;
        width: 168.137px;
        height: 25.119px;
        transform: rotate(-0.033deg);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .tegs_container{
        display: flex;
        margin-left: 30px;
        width: 300px;
        gap: 15px;
        justify-content: flex-start;  
    }
    .teg{
        width: 106px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        background-color: rgba(123, 74, 226, 0.10);
    }
    .teg_text{
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .case_image{
     margin-left: 15px;      
     margin-top: 25px;   
     margin-right: 15px;
     width: 270px;
     height: 170px;
    }
    .portfolio_Screen{
        margin-left: 5vw;
    }
    .case_container{
        display: flex;
        flex-wrap: wrap;
        gap: 56px;
    }
    .studentCase:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .fork:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .btn_focus{
        background: rgba(123, 74, 226, 0.2);
    }
}
@media (min-width: 0px) and (max-width: 500px) {
    .tag_portfolio{
    width: 103px;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(123, 74, 226, 0.10);
    }
    .tag_portfolio_text{
        color: #7B4AE2;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
    
display: flex;
width: 83px;
height: 20px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
    }
    .title{
        margin-top: 16px;
        color: #FFF;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 308px;
        height: 60px;
        flex-shrink: 0;
    }
    .sorted_tegs{
        display: flex;
        height: 60px;
        width: 90vw;
        justify-content: flex-start;
        gap: 8px;
        margin-bottom: 40px;
    }
    .studentCase{
        width: 116px;
        height: 40px;
        display: flex;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        align-items: center;
        gap: 8px;
    }
    .studentCase_text{
        display: flex;
        
        height: 24px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        
    }
    .fork{
        width: 116px;
        height: 40px;
        display: flex;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }
    .fork_text{
        display: flex;
       
        height: 24px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .portfolio_Screen{
        margin-left: 45px;
        
    }
    .studentCase:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .fork:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .btn_focus{
        background: rgba(123, 74, 226, 0.2);
    }
}
@media (min-width: 801px) and (max-width: 3000px) {
    .tag_portfolio{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 163px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(123, 74, 226, 0.10);
    }
    .tag_portfolio_text{
        color: #7B4AE2;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    }
    .title{
        width: 663px;
height: 60px;
flex-shrink: 0;
color: #FFF;
font-family: Raleway;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .sorted_tegs{
        display: flex;
        height: 60px;
        width: 90vw;
        justify-content: flex-end;
        gap: 40px;
        margin-bottom: 40px;
    }
    .studentCase{
        align-items: center;    
        width: 205px;
        height: 60px;
        flex-shrink: 0;
        justify-content: center;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        display: flex;
    }
    .studentCase_text{
        margin-left: 10px;
        display: flex;
        width: 137px;
        height: 37px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .fork{
        align-items: center; 
        justify-items: center;   
        display: flex;
        width: 184px;
        height: 60px;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
    }
    .fork_text{
        display: flex;
        margin-left: 10px;
        width: 92px;
        height: 37px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .case{
        width: 360px;        
        height: 460px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
    }
    .case_subTitle{
        margin-left: 30px;
        margin-top: 9px;
        width: 299.777px;
        height: 100px;
        transform: rotate(-0.033deg);
        flex-shrink: 0;
        color: rgba(255, 255, 255, 0.50);
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .case_title{
        margin-top: 27px;
        margin-left: 30px;
        display: flex;
        width: 168.137px;
        height: 25.119px;
        transform: rotate(-0.033deg);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .tegs_container{
        display: flex;
        margin-left: 30px;
        width: 300px;
        gap: 15px;
        justify-content: flex-start;  
    }
    .teg{
        width: 106px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        background-color: rgba(123, 74, 226, 0.10);
    }
    .teg_text{
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .case_image{
     margin-left: 30px;      
     margin-top: 25px;   
     margin-right: 30px;
    }
    .portfolio_Screen{
        margin-left: 5vw;
    }
    .case_container{
        display: flex;
        flex-wrap: wrap;
        gap: 56px;
    }
    .studentCase:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .fork:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .btn_focus{
        background: rgba(123, 74, 226, 0.2);
    }
}
@media (min-width: 0px) and (max-width: 500px) {
    .tag_portfolio{
    width: 103px;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(123, 74, 226, 0.10);
    }
    .tag_portfolio_text{
        color: #7B4AE2;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
    
display: flex;
width: 83px;
height: 20px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
    }
    .title{
        margin-top: 16px;
        color: #FFF;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 308px;
        height: 60px;
        flex-shrink: 0;
    }
    .sorted_tegs{
        display: flex;
        height: 60px;
        width: 90vw;
        justify-content: flex-start;
        gap: 8px;
        margin-bottom: 40px;
    }
    .studentCase{
        width: 116px;
        height: 40px;
        display: flex;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        align-items: center;
        gap: 8px;
    }
    .studentCase_text{
        display: flex;
        
        height: 24px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        
    }
    .fork{
        width: 116px;
        height: 40px;
        display: flex;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }
    .fork_text{
        display: flex;
       
        height: 24px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .portfolio_Screen{
        margin-left: 45px;
        
    }
    .studentCase:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .fork:hover{
        background: rgba(123, 74, 226, 0.05);
        opacity: .3s;
    }
    .btn_focus{
        background: rgba(123, 74, 226, 0.2);
    }

}
