.tag_skills{
    
    width: 234px;
height: 45px;
background: rgba(123, 74, 226, 0.10);
border-radius: 16px;
display: flex;
margin: auto;
}
.tag_skills_text{
    display: flex;
width: 214px;
height: 36px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #7B4AE2;
text-align: center;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.skills{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.skills_title{
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 100px;
}
.skills_one_title{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}
.skills_one_ico{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 50px;
}

.skills_two_subTitle{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}
.skills_two_ico{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 50px;
}