    @media (min-width: 1201px) and (max-width: 3000px) {

    .tag_hi{
      border-radius: 16px;
      background: rgba(123, 74, 226, 0.10);
      width: 145px;
      display: flex;
        align-items: center;
        justify-content: center;
      height: 40px;
      flex-shrink: 0;
    }
    .tag_hi_text{
      display: flex;
     
      height: 36px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      color: #7B4AE2;
      text-align: center;
      font-family: Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .welcome{
  
      display: block;
      width: 30vw;
     
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
    }
    .welcome_main{                                     
      width: 411px;
    height: 120px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Raleway;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }
    .welcome_sub_text{
    display: flex;
    width: 411.33px;
    height: 37px;
    transform: rotate(-0.033deg);
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.50);
    text-align: justify;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .git:hover{
      fill: #7B4AE2;
      transition-duration: .3s;
    }
    .git{
      fill: white;
       fill-opacity: 0.5;
    }
    .mainScreen{
      margin-left: 5vw;
      margin-right: 5vw;
      width: 90vw;
      display: flex;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 5vh;
    }
    .avatar{
      max-width: none;
        width: 510px;
      height: 415.333px;
      flex-shrink: 0;
    }
    .firstScreen_rigth{
      width: 20vw;
      height: 73px;
      flex-shrink: 0;
    }
    .firstScreen_rigth_download_sv{
      display: flex;
      align-items: center;
    }
    .firstScreen_rigth_download_sv_text{
      width: 135px;
      height: 21px;
      margin-left: 25px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: rgba(123, 74, 226, 0.50);
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .firstScreen_rigth_contact{
      width: 212px;
      height: 44px;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid rgba(123, 74, 226, 0.50);
      display: flex;
      align-items: center;
    }
    .firstScreen_rigth_contact:hover{
        background: rgba(123, 74, 226, 0.25);
    }
    .firstScreen_rigth_contact_text{
      margin-left: 10px;
      display: flex;
      width: 160.082px;
      height: 16px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: rgba(123, 74, 226, 0.50);
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
    @media (min-width: 601px) and (max-width: 1200px) {
          .git:hover{
            fill: #7B4AE2;
            transition-duration: .3s;
          }
          .git{
            fill: white;
             fill-opacity: 0.5;
          }
          .mainScreen{
            margin-left: 5vw;
            margin-right: 5vw;
            width: 90vw;
            display: flex;
            align-items: center;
            margin-top: 120px;
            margin-bottom: 120px;
            
          }
          .me_avatar{
            width: 40vw;
            position: relative;
           
          }
          .avatar{
            margin: auto;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            flex-shrink: 0;
    }
          .firstScreen_rigth{
            width: 20vw;
            height: 73px;
            flex-shrink: 0;
          }
          .firstScreen_rigth_download_sv{
            display: flex;
            align-items: center;
          }
          .firstScreen_rigth_download_sv_text{
            width: 110px;
            height: 21px;
            margin-top: 8px;
            margin-left: 10px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: rgba(123, 74, 226, 0.50);
            font-family: Raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          .firstScreen_rigth_contact{
            width: 180px;
            height: 44px;
            flex-shrink: 0;
            border-radius: 16px;
            border: 1px solid rgba(123, 74, 226, 0.50);
            display: flex;
            align-items: center;
          }
          .firstScreen_rigth_contact_text{
            margin-left: 5px;
            display: flex;
            width: 160.082px;
            height: 16px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: rgba(123, 74, 226, 0.50);
            font-family: Raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
    .tag_hi{
        border-radius: 16px;
        background: rgba(123, 74, 226, 0.10);
        width: 145px;
        height: 40px;
        flex-shrink: 0;
      }
      .tag_hi_text{
        display: flex;
        width: 123px;
        height: 36px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .welcome{
    
        display: block;
        width: 30vw;
       
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
      }
      .welcome_main{                                     
        width: 230px;
      height: 100px;
      flex-shrink: 0;
      color: #FFF;
      font-family: Raleway;
      font-size: 34px;

      font-style: normal;
      font-weight: 800;
      line-height: normal;
      }
      .welcome_sub_text{
      display: flex;
      width: 230.33px;
      height: 37px;
      transform: rotate(-0.033deg);
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: rgba(255, 255, 255, 0.50);
      text-align: justify;
      font-family: Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
      }
      
  }
  @media (min-width: 0px) and (max-width: 600px) {

    .mainScreen{
      display: grid;
      align-items: center;
      margin-top: 47px;
      grid-template-columns: 45px calc(100% - 90px) 45px;
      height:650px;
      margin-left: 0;
      width: 100vw;
      grid-template-rows: 20vh 250px 70px;
    }
    .tag_hi{
        margin-bottom: 10px;        
        border-radius: 8px;
        background: rgba(123, 74, 226, 0.10);
        width: 122px;
        height: 32px;
        flex-shrink: 0;
        justify-items: center;
        align-items: center;
        position: relative;
      }
      .tag_hi_text{
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 102px;
        height: 20px;
        flex-shrink: 0;
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .welcome{
        width: 307px;
        height: 199px;
        flex-shrink: 0;
        
        grid-column: 2;
        grid-row: 2;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
      }
      .welcome_main{
        margin-bottom: 10px;                                     
        width: 307px;
        height: 110px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Raleway;
        font-size: 42px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      .welcome_sub_text{
        display: flex;
        width: 306.678px;
        height: 37px;
        transform: rotate(-0.033deg);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(255, 255, 255, 0.50);
        text-align: justify;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .git:hover{
        fill: #7B4AE2;
        transition-duration: .3s;
      }
      .git{
        fill: white;
         fill-opacity: 0.5;
         display: none;
      }
      .me_avatar{  
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .avatar{
       max-width: 100%;
       max-height: 100%;
       display: flex;
       margin: auto;
        
      }
      .firstScreen_rigth{
        grid-column: 2;
        grid-row: 3;
        display: grid;
        grid-template-rows: 44px 21px;
        row-gap: 13px;
        width: 245px;
        height: 44px;
        flex-shrink: 0;
      }
      .firstScreen_rigth_download_sv{
         grid-row: 2;
        display: flex;
        align-items: center;
      }
      .firstScreen_rigth_download_sv_text{
        width: 135px;
        height: 21px;
        margin-left: 25px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .firstScreen_rigth_contact{
        grid-row: 1;
        width: 212px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
        display: flex;
        align-items: center;
      }
      .firstScreen_rigth_contact_text{
        margin-left: 10px;
        display: flex;
        width: 160.082px;
        height: 16px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

  }