@media (max-width: 3000px) {
.navbar{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 32px;
    width: 90vw;
    height: 50px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(123, 74, 226, 0.05);
    display: flex;
    align-items: center;
  }
  .ico{
    margin-right: 30vw;
  }
  .navbar_text{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 86.084px;
    height: 30px;
    transform: rotate(-0.033deg);
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .navbar_text:hover{
    color: #7B4AE2;
    transition-duration: .6s;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .navbar{
    display: none;
  }
}