.toTop_text{
    color: #7B4AE2;
}
@media (min-width: 769px) and (max-width: 3000px) {
.contact{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 194px;
}
.tag_contact{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 138px;
height: 45px;
flex-shrink: 0;
background: rgba(123, 74, 226, 0.10);
border-radius: 16px;
margin-bottom: 24px;    
}
.copy_ico:hover{
    border: 1px solid #7B4AE2;
    background: #221f21;
}
.tag_contact_text{
    align-self: center;
    color: #7B4AE2;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;

align-content: center;
}
.contact_title{
    
    justify-content: center;
    margin: auto;
    display: flex;
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 663px;
height: 60px;
flex-shrink: 0;
margin-bottom: 60px;
}
.contact_tg_email{
    margin: auto;
    width: 663px;
    display: grid;
    flex-shrink: 0;
    grid-template-columns: 45% 55%;
    align-items: center;
}
.tg{
    grid-column: 1;
}
.tg_rectangle:hover{
        background: rgba(123, 74, 226, 0.25);
    }
.email{

    position: relative;
    
    grid-column: 2;
}
.email_title{
    margin-top: 4px;
    color: #7B4AE2;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.email_adress{
    
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    margin-top: 1px;
    color: #5c5656;
}
.toTop:hover{
text-decoration: underline;
}
.email_adress:hover{
    
    background: #221f21;
    box-sizing: border-box;
}
.tg_text{
    color: rgba(123, 74, 226, 0.50);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.tg_rectangle{
    display: flex;
    align-items: center;
    width: 212px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(123, 74, 226, 0.50);
}
.toTop{
    margin-top: 24px;            
    display: flex;
    align-items: center;
    justify-content: center;
}
.toTop:active{
    color: rgba(123, 74, 226, 0.50);;
}
.email_ico{
    margin:auto;
}
.copy_ico{
    margin:auto;
}
}
@media (min-width: 0px) and (max-width: 768px) {
    .contact{
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 70px;
    }
    .tag_contact{
        display: flex;
        justify-content: flex-start;
        width: 102px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(123, 74, 226, 0.10);
    margin-bottom: 24px;    
    }
    .copy_ico{
        display: flex;
        justify-self: flex-start;
        margin-top: 8px;
    }
    .copy_ico:hover{
        border: 1px solid #7B4AE2;
        background: #221f21;
    }
    .tag_contact_text{
        display: flex;
        width: 82px;
        height: 20px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #7B4AE2;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: center;
    }
    .contact_title{
        
        width: 308px;
height: 60px;
flex-shrink: 0;
color: #FFF;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
    }
    
    .tg{
        grid-column: 1;
    }
    .tg_rectangle:hover{
            background: rgba(123, 74, 226, 0.25);
        }
        .email_ico{
            
           width: 16px;
           height: 16px;

            justify-content: flex-start;
        }
    .email{
        margin-top: 25px; 
        position: relative;
        
        grid-column: 2;
    }
    .email_title{
        margin-top: 6px;
        color: #7B4AE2;
        justify-content: flex-start;
        display: flex;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .email_adress{
        
        display: flex;
width: 289px;
height: 21px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.50);
font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
margin-top: 6px;
    }
    .toTop:hover{
    text-decoration: underline;
    }
    .email_adress:hover{
        
        background: #221f21;
        box-sizing: border-box;
    }
    .tg_text{
        color: rgba(123, 74, 226, 0.50);
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .tg_rectangle{
        display: flex;
        align-items: center;
        width: 212px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 1px solid rgba(123, 74, 226, 0.50);
    }
    .toTop{
        margin-top: 24px;            
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toTop:active{
        color: rgba(123, 74, 226, 0.50);;
    }
    .email_ico{
    justify-self: flex-start;
    }

}