@media (min-width: 1200px) and (max-width: 3000px) {
.about{
    display: grid;
    grid-template-columns: 5vw 30vw 5vw 55vw 5vw ;
    grid-template-rows: 520px;
    margin-top: 100px;
}
.about_image{
    grid-column: 2;

}
.about_text{
    grid-column: 4;
}
.tag_aboutMe{
    width: 171.537px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(123, 74, 226, 0.10);
    align-items: center;
    margin-bottom: 16px;
}
.tag_aboutMe_text{
    display: flex;
    justify-content: center;
    width: 100%;
    
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #7B4AE2;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.about_text_text{
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    width: 100%;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 62.5% */
    
    margin-bottom: 20px;

letter-spacing: 1.6px;
}
}
@media (min-width: 0px) and (max-width: 699px) {
    .about{
        display: grid;
        height: 593.657px;
        flex-shrink: 0;
        grid-template-columns: 24px calc(100% - 48px) 24px ;
        grid-template-rows: 182.329px 400px;
        margin-bottom: 160px;
        margin-top: 100px;
        row-gap: 32px;
    }
    .about_image{
        
        grid-column: 2;
        grid-row: 1;
        display: flex;
        margin: auto;
        justify-content: center;
        width: 182.329px;
        height: 182.329px;
        flex-shrink: 0;
    }
    .about_text{
        grid-column: 2;
        grid-row: 2;
    }
    .tag_aboutMe{
        margin-bottom: 25px;
        width: 113px;
        height: 32px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(123, 74, 226, 0.10);
    }
    .tag_aboutMe_text{
        align-self: center;
        display: flex;
        width: 92px;
        height: 20px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .about_text_text{
        color: rgba(255, 255, 255, 0.50);
        text-align: justify;
        margin-bottom: 16px;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        letter-spacing: 0.8px;
    }
}
@media (min-width: 700px) and (max-width: 1199px) {
    .about{
        display: grid;
        grid-template-columns: 5vw 30vw 5vw 55vw 5vw ;
        margin-bottom: 160px;
        margin-top: 100px;
    }
    .about_image{
        grid-column: 2;
            
    }
    .about_text{
        grid-column: 4;
    }
    .tag_aboutMe{
        width: 171.537px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 16px;
        background: rgba(123, 74, 226, 0.10);
        align-items: center;
        margin-bottom: 16px;
    }
    .tag_aboutMe_text{
        display: flex;
        justify-content: center;
        width: 100%;
        
        height: 36px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #7B4AE2;
        text-align: center;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .about_text_text{
        color: rgba(255, 255, 255, 0.50);
        font-family: Raleway;
        width: 100%;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 62.5% */
        
        margin-bottom: 18px;
    
    letter-spacing: 1.6px;
    }
}